{% extends 'store/storefront.html' %}
{% load static %}

{% block title %}Categories{% endblock title %}

{% block extralink %} <link rel="stylesheet" href="{% static 'css/store_css/categories.css' %}"> {% endblock extralink %}

{% block content %}
<section class="product_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
          <h2>
             Our <span>Categories</span>
          </h2>
       </div>
       
       <ol style="--length: 5" role="list">
        {% for category in categories %}
        <li style="--i: 1"  class="listitem">
          <h3><a href="{% url 'products_by_category' category.id %}">{{ category.category_name }}</a></h3>
          <p>{{ category.description }}</p>
        </li>
        {% endfor %}
        
      </ol>
    
      

       
       </div>
    </div>
 </section>

{% endblock content %}