{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Personal Portfolio Website{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extralink %}{% endblock extralink %}
</head>

<body>
    <header class="header">
        <a href="{% url 'account_signup' %}" class="logo"> {% if user.is_authenticated %}Welcome, {{ user.username|title }}{% else %}Please Create An Account.{% endif %}</a>
        {% block navbar %}
        <nav class="navbar">
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'category_list' %}">Categories</a>
            <a href="{% url 'products_list' %}">Products</a>
            <a href="{% url 'orders_incomplete_list' %}">Orders</a>
            <a href="{% url 'email_list' %}">Send Mail</a>
            <a href="{% url 'confirm_signout' %}">Logout</a>
            <a href="{% url 'storefront' %}">Store</a>
            {% else %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
        </nav>
        {% endblock navbar %}
    </header>
    <section class="home">
        
        <div class="home-content">
            {% block content %}

            <h1>{{"Hi! Welcome To Your Store. Please Click the link below before continuing"|title}}</h1>
            <h3><a href="{% url 'about' %}">Please Read Me</a></h3>
            <p>Hope you enjoy</p>
            <div class="btn-box">
                <a href="https://www.linkedin.com/in/bennett-billings-529545238/">Hire Me</a>
               
            </div>
            {% endblock content %}

        </div>

        <div class="home-sci">
            
            {% comment %}
                Change these later
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            {% endcomment %}
            <a target="_blank" href="https://www.linkedin.com/in/bennett-billings-529545238/"><i class='bx bxl-linkedin'></i></a>
        </div>

        <span class="home-imgHover"></span>

    </section>
    
    
</body>
</html>

<!-- left off at 50:55 -->